#contato{
    width: 100%;
    padding: 200px 10%;
    display: flex;
    justify-content: space-between;
    position: relative;
}

#contato-teclado{
    position: absolute;
    top: 7%;
    right: 30%;
}

#contato-email{
    position: absolute;
    right: 15%;
    bottom: 10%;
}

.contato-conteudo{
    position: relative;
}

.contato-conteudo h1{
    font-size: 78px;
    color: var(--cor-secundaria);
    margin-bottom: 30px;
    line-height: 60px;
}

.contato-conteudo h1 span{
    color: var(--cor-principal);
}

.contato-conteudo div{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.contato-conteudo div img:nth-child(1){
    width: 30%;
}

.contato-conteudo div img:nth-child(2){
    width: 60%;
}

#formulario{
    width: 700px;
    min-width: 500px;
    height: 500px;
    margin-left: 80px;
}

.form-linha1{
    width: 100%;
    display: flex;
    gap: 30px;
    margin-bottom: 20px;
}

.form-linha1 div{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.form-linha1 label, .form-linha2 label{
    color: var(--cor-secundaria);
    font-size: 30px;
    font-weight: bold;
    margin-top: 10px;
}

.form-linha1 input{
    width: 100%;
    height: 60px;
    background-color: var(--cor-cinza);
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    border: none;
    outline: none;
    color: var(--cor-principal);
    font-size: 20px;
    font-weight: bold;
    padding: 0 7%;
}

.form-linha2{
    display: flex;
    flex-direction: column;
}

.form-linha2 textarea{
    width: 100%;
    max-width: 110%;
    min-width: 80%;
    height: 280px;
    max-height: 300px;
    min-height: 260px;
    background-color: var(--cor-cinza);
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    border: none;
    outline: none;
    color: var(--cor-principal);
    font-size: 20px;
    font-weight: bold;
    padding: 20px 3%;
}

.form-linha2 button{
    color: var(--cor-secundaria);
    background-color: var(--cor-principal);
    padding: 10px 20px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    font-weight: bold;
    width: 200px;
    margin-top: 20px;
    outline: none;
    border: none;
}

.form-linha2 button:hover{
    background-color: var(--cor-cinza);
    box-shadow: 4px 4px 4px #000000;
}