header{
    width: 100%;
    height: 10vh;
    background-color: var(--cor-fundo);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: solid 1.5px var(--cor-cinza);
    position: fixed;
    z-index: 100;
}

.header-logo h1{
    color: var(--cor-secundaria);
}

.header-links a{
    color: var(--cor-secundaria);
    font-size: 24px;
    margin-left: 48px;
}

.header-links a:hover{
    color: var(--cor-principal);
    font-size: 26px;
    font-weight: 700;
}

.botao-hamburguer{
    display: none;
}

.mobile-links{
    display: none;
}